<style type="text/css">
    .chosen-container-multi .chosen-choices li.search-choice {
    background: #f1f1f1;
    border: 1px solid #ededed;
    border-radius: 2px;
    box-shadow: none;
    color: #333333;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative;
}
.chosen-container-multi .chosen-choices {
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #CBD5DD;
    border-radius: 2px;
    cursor: text;
    height: auto !important;
    margin: 0;
    min-height: 30px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    width: 100%;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 1px 0;
    padding: 5px;
    height: 25px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    box-shadow: none;
    color: #666;
    font-size: 100%;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}
.reagent-format{
    margin-left: 15px;
    margin-right: 15px;
    width:auto;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);

}

.reagent-format > .progress-bar{
    width: 100%;
}
.unhighlight{
    background-color: #8E8E8E !important;
}

.new{
    background-color : #ED5565 !important;
    animation:shake 2s infinite;
}
.low{
    border-color: #ED5565 !important;
    animation:flash 3s infinite;
}
.low .progress-bar{
    background-color : #ED5565 !important;
}
.sending{
    border-color : #1ab394 !important;
}
.sending .progress-bar{
    background-color : #ED5565 !important;
}

</style>
<div class="row  border-bottom white-bg dashboard-header">

    <div class="col-sm-12 col-md-4">
        <h2>{{ 'WELCOME' | translate }}</h2>
        <small>Reagent Statics</small>
        <ul class="list-group clear-list m-t" >
            <li ng-repeat="reagent in reagentsStat" ng-class="($index==0)?'fist-item':''"class="list-group-item" ng-click="selectScale(reagent.list)">
                                <span class="pull-right">
                                    <strong>{{ reagent.amount+' ' }}bucket{{reagent.amount>1?'s':''}}</strong>
                                </span>
                <span class="label" ng-class="color[$index]">{{ $index+1 }}</span> <strong>{{ reagent.name }}</strong>
            </li>
        </ul>
    </div>

    <!--架子-->
    <div class="col-md-8 col-sm-12" style="padding-top: 30px;margin-bottom:30px">
        <div class="row" ng-repeat="(j,scales) in scalesShelf">
            <div class="col-md-3 col-sm-3" ng-repeat="(i,scale) in scales">
                <div class="ibox"">
                    <div class="ibox-content{{stateStyle(scale.state)}}"  ng-init="percent=(scale.weight / scale.full_weight * 100) || 0" ng-click="scaleDetail(scale)" ng-class="scale.isselected===false?'unhighlight':''">
                        <h5>{{scale.weight}}</h5>
                        <h2>{{floor(percent)}}%</h2>
                        <div class="progress progress-mini" >
                            <div style="width: {{floor(percent)}}%;" class="progress-bar" ></div>
                        </div>
                        <div class="m-t-sm small">{{scale.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--架子结束-->


</div>



